{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hangary method</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="main-page">
      <div class="main">
        <div class="main-container">
          <form name="pie-form" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="main-table">
              <div class="main-label">
                <h2>🏬Задача распределения работы в пекарне</h2>
              </div>
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <th></th>
                  <th colspan="5">Виды работ</th>
                </tr>
                <tr>
                  <th>🔽Работники🔽</th>
                  <th>Транспортировка</th>
                  <th>Конвеер</th>
                  <th>Печь</th>
                  <th>Погрузка</th>
                  <th>Менеджмент</th>
                </tr>
                <tr>
                  <td>Александр</td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.0.0}}" name="t1"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.0.1}}" name="k1"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.0.2}}" name="p1"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.0.3}}" name="g1"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.0.4}}" name="m1"/></td>
                </tr>
                <tr>
                  <td>Григорий</td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.1.0}}" name="t2"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.1.1}}" name="k2"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.1.2}}" name="p2"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.1.3}}" name="g2"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.1.4}}" name="m2"/></td>
                </tr>
                <tr>
                  <td>Анатолий</td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.2.0}}" name="t3"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.2.1}}" name="k3"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.2.2}}" name="p3"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.2.3}}" name="g3"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.2.4}}" name="m3"/></td>
                </tr>
                <tr>
                  <td>Елизавета</td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.3.0}}" name="t4"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.3.1}}" name="k4"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.3.2}}" name="p4"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.3.3}}" name="g4"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.3.4}}" name="m4"/></td>
                </tr>
                <tr>
                  <td>Виктория</td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.4.0}}" name="t5"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.4.1}}" name="k5"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.4.2}}" name="p5"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.4.3}}" name="g5"/></td>
                  <td><input type="text" placeholder="Затраты" value="{{matrix.4.4}}" name="m5"/></td>
                </tr>
              </table>
            </div>
            <div class="submtin-btn-div">
                  <input class="submtin-btn" type="submit" value="Минимизировать затраты"/>
            </div>
            <p>*значения генирируются автоматически при перезагрузке страницы*</p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
