{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Результат вычеслений</title>
</head>
<body>
    <div class="main-result">
        <div class="result-label"><h2>✅Решение</h2></div>
        <div class="result-profit">Минимальные затраты: <b>{{min_cost}}</b></div>
        <p>Будет получена при слеующем плане распредиления работ: {{best_solution}}</p>
        <table cellspacing="0" cellpadding="0">
          <tr>
            <th></th>
            <th colspan="5">Виды работ</th>
          </tr>
          <tr>
            <th>🔽Работники🔽</th>
            <th>Транспортировка</th>
            <th>Конвеер</th>
            <th>Печь</th>
            <th>Погрузка</th>
            <th>Менеджмент</th>
          </tr>
          <tr>
            <td>Александр</td>
              {% for i in task_matrix.0 %}
                {% if i == best_solution.0 %}
                    <td><b class="green">{{i}}</b></td>
                {% else %}
                    <td>{{i}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          <tr>
            <td>Григорий</td>
            {% for i in task_matrix.1 %}
                {% if i == best_solution.1 %}
                    <td><b class="green">{{i}}</b></td>
                {% else %}
                    <td>{{i}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          <tr>
            <td>Анатолий</td>
            {% for i in task_matrix.2 %}
                {% if i == best_solution.2 %}
                    <td><b class="green">{{i}}</b></td>
                {% else %}
                    <td>{{i}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          <tr>
            <td>Елизавета</td>
            {% for i in task_matrix.3 %}
                {% if i == best_solution.3 %}
                    <td><b class="green">{{i}}</b></td>
                {% else %}
                    <td>{{i}}</td>
                {% endif %}
              {% endfor %}
          </tr>
          <tr>
            <td>Виктория</td>
            {% for i in task_matrix.4 %}
                {% if i == best_solution.4 %}
                    <td><b class="green">{{i}}</b></td>
                {% else %}
                    <td>{{i}}</td>
                {% endif %}
              {% endfor %}
          </tr>
        </table>
        <a href="../" class="back-btn">Назад</a>
    </div>
</body>
</html>